<a href="https://colab.research.google.com/github/Annanya0709/Python-Basics/blob/main/PythonBasics_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Variables

In [ ]:
# ************* Working with variables ******************

number = 54  # variable of type int
name = 'Apple' # variable of type str

number = int('54') # Casting str to int
decimal = float(233) # Casting int to float
name = str(number) # Casting int to str
print(number)
print(decimal)
print(name)

# print with sep parameter
print(number, decimal, name, sep = ', ')

54
233.0
54
54, 233.0, 54

In [ ]:
# Getting type of variable
print(type(number))
print(type(decimal))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Assigning multiple values
fruit1, fruit2, fruit3 = "Orange", "Banana", "Cherry"
print(fruit1)
print(fruit2)
print(fruit3)

Orange
Banana
Cherry

# Python Datatypes


*   Numeric -> int, float, complex
*   String  -> str
*   Sequence -> list, tuple, range
*   Mapping -> dict
*   Boolean -> bool
*   Set  -> set, frozenset

Numeric

In [ ]:
# Numeric 

number1 = 5
number2 = 2.0
number3 = 1+2j

# determines the type of variable
print(number1, 'is of type', type(number1))
print(number2, 'is of type', type(number2))

# isinstance() return boolean value if the object is an instance of class
print(number3, 'is a complex number?', isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is a complex number? True

List

In [ ]:
# List

languages = ["Swift", "Java", "Python"]

# access element at index 0
print(languages[0])  

# access element at index 2
print(languages[2])

Swift
Python

Tuple

In [ ]:
# Tuple

product = ('Microsoft', 'Xbox', 499.99)

# access element using index
print(product[0])  
print(product[1])  
print(product[2])

Microsoft
Xbox
499.99

String

In [ ]:
# String

name = 'John'

# Multiline String
address = '''Choudhary House, Sudhama Nagar,
Udaipur, Rajasthan'''

print(name)  
print(address)

John
Choudhary House, Sudhama Nagar,
Udaipur, Rajasthan

Set

In [ ]:
# Set

student_id = {112, 114, 116, 118, 115}

print(student_id)

# display type of student_id
print(type(student_id))

{112, 114, 115, 116, 118}
<class 'set'>

Dictionary

In [ ]:
# Dictionary

capital_city = {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

print(capital_city)

# print according to cities
print(capital_city['Nepal'])
print(capital_city['Italy'])

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}
Kathmandu
Rome

# Flow Control

***if statement***

In [ ]:
# if test expression:
#     statement(s)

num = 3
if num > 0:
    print(num, "is a positive number.")

3 is a positive number.

if else statement

In [ ]:

num = 6
if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Positive or Zero

elif statement

In [ ]:

num = -3

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

Nested if statement

In [ ]:

num = 5
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

# for loop

In [ ]:
# for loop 

numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

for loop with else

In [ ]:

digits = [0, 1, 5]

for digit in digits:
    print(digit)
else:
    print("No items left.")

0
1
5
No items left.

# while loop

In [ ]:

end_digit = 5
sum = 0
counter = 1

while  counter <= end_digit:
    sum = sum + counter
    counter = counter + 1    # update counter

# print the sum
print("The sum is", sum)

The sum is 15

while loop with else block

In [ ]:

counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else") # runs once when the condition is no longer true

Inside loop
Inside loop
Inside loop
Inside else

In [ ]:
# break statement inside the loop

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

# Functions

In [ ]:

def greeting(name):
    """
    Docstring
    This function greets to
    the person passed in as
    a parameter
    """
    print("Hello, " + name + ". Good morning!")

# Calling a function
greeting('Paul')

Hello, Paul. Good morning!

Understanding arguments and parameters

In [ ]:

# parameter: the variable listed inside the parentheses in the function definition.
# argument: the value that is sent to the function when it is called.

def display(fname, lname):  # parameters
  print(fname + " " + lname)

# The number of arguments and parameters must be equal
display("Annanya", "Vijay") # Arguments

Annanya Vijay

In [ ]:
# return values 

def absolute_value(num):
    """This function returns the absolute
    value of the entered number"""

    if num >= 0:
        return num
    else:
        return -num


print(absolute_value(2))
print(absolute_value(-4))

2
4

Arbitrary Arguments, *args

In [ ]:
# Arbitrary Arguments (*args)
# When we dont know the exact number of arguments use args

def display_names(*names):
    """This function prints all
    the person in the names tuple."""

    for name in names:
        print(name)


display_names("Monica", "Luke", "Steve", "John")

Monica
Luke
Steve
John

Keyword Arguments

In [ ]:
# Keyword Arguments

def youngest_child(child3, child2, child1):
  print("The youngest child is " + child3)

youngest_child(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

Arbitrary Keyword Arguments, **kwargs

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

Default parameter value

In [ ]:
# Default parameter value

def default_parameter(country = "Norway"):
  print("I am from " + country)

default_parameter("Sweden")
default_parameter("India")
default_parameter()
default_parameter("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Recursive Functions

In [ ]:
# Recursive Functions

def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 5
print("The factorial of", num, "is", factorial(num))

The factorial of 5 is 120

Lambda Functions

In [ ]:
double = lambda x: x * 2

"""Lambda function to double
the value of a number"""

print(double(5))

10



# Python class & objects

In [ ]:
# Creating a class named Parrot
class Person:

    # class attribute
    species = "human"

    # instance attribute
    def __init__(self, name, age):
        self.name = name
        self.age = age

# instantiate the Parrot class
teacher = Person("Shreya", 40)
parent = Person("Jessy", 45)

# access the class attributes
print("Teacher is a {}".format(teacher.__class__.species))
print("Parent is also a {}".format(parent.__class__.species))

# access the instance attributes
print("{} is {} years old".format( teacher.name, teacher.age))
print("{} is {} years old".format( parent.name, parent.age))

Teacher is a human
Parent is also a human
Shreya is 40 years old
Jessy is 45 years old

**Class methods**

In [ ]:
# Class Methods

class Parrot:
    
    # instance attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    # instance method
    def sing(self, song):
        return "{} sings {}".format(self.name, song)

    def dance(self):
        return "{} is now dancing".format(self.name)

# instantiate the object
blu = Parrot("Blu", 10)

# call our instance methods
print(blu.sing("'Happy'"))
print(blu.dance())

Blu sings 'Happy'
Blu is now dancing

# Python Inheritance

In [ ]:
# parent class
class Bird:
    
    def __init__(self):
        print("Bird is ready")

    def whoisThis(self):
        print("Bird")

    def swim(self):
        print("Swim faster")

# child class
class Penguin(Bird):

    def __init__(self):
        # call super() function
        super().__init__()
        print("Penguin is ready")

    def whoisThis(self):
        print("Penguin")

    def run(self):
        print("Run faster")

peggy = Penguin()
peggy.whoisThis()
peggy.swim()
peggy.run()

Bird is ready
Penguin is ready
Penguin
Swim faster
Run faster

# Python Decorators
Change behavior of existing function.

In [2]:
def smart_divide(func):
    def inner(num1, num2):
        print("Going to divide", num1, "and", num2)
        if num2 == 0:
            print("Whoops! cannot divide")
            return

        return func(num1, num2)
    return inner


@smart_divide
def divide(num1, num2):
    print(num1/num2)

divide(5,10)

Going to divide 5 and 10
0.5