# **Python Datatypes**
---

# Python Numbers

> Integer - 'int'

> Floating-point numbers - 'float'

> Complex Numbers - 'complex'

In [1]:
number = 45 # int
decimal = 834.55 # float
complex_number = 5 + 3j # complex number

In [2]:
# type() function checks for the datatype of a variable

print(type(number))
print(type(decimal))
print(type(complex_number))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
# Explicit Type conversions in python

#convert from int to float:
number1 = float(number)

#convert from float to int:
number2 = int(decimal)

#convert from int to complex:
number3 = complex(number)

print(number1)
print(number2)
print(number3)

print(type(number1))
print(type(number2))
print(type(number3))

45.0
834
(45+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [5]:
# Python math module

import math

print(math.pi) # prints pi value

print(math.cos(math.pi)) # prints cosine of pi

print(math.exp(10)) # prints exponential value of 10

print(math.log10(1000)) # prints log of 1000

print(math.sinh(1)) # prints sinh of 1

print(math.factorial(6)) # prints factorial of 6

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

In [6]:
# Python random module

import random

print(random.randrange(10, 20))

x = ['a', 'b', 'c', 'd', 'e']

# Get random choice
print(random.choice(x))

# Shuffle x
random.shuffle(x)

# Print the shuffled x
print(x)

# Print random element
print(random.random())

19
a
['d', 'c', 'b', 'a', 'e']
0.06683307884230627

# Python List

In [10]:
# list of integers
list1 = [1, 2, 3]

# empty list
list2 = []

# list with mixed data types
list3 = [1, "Hello", 3.4]

# nested list
list4 = ["mouse", [8, 4, 6], ['a']]


# Accessing elements using index

print(list1[1]) 
print(list4[0]) 
print(list4[1][2])

# Negative indexes
print(list1[-1])

2
mouse
6
3

In [11]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['a', 'm']
['p', 'r', 'o', 'g', 'r', 'a', 'm']

In [13]:
# Appending and Extending lists in Python

odd_numbers = [1, 3, 5]

# Append one element at the end
odd_numbers.append(7)
print(odd_numbers)

# Add any number of elements at the end
odd_numbers.extend([9, 11, 13])
print(odd_numbers)

# Insert at a given position
odd_numbers.insert(1,2)
print(odd_numbers)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]
[1, 2, 3, 5, 7, 9, 11, 13]

In [21]:
# Deleting list elements

# list before deletion
print(odd_numbers)

# Delete element at index 2
del odd_numbers[1]

# list after deletion
print(odd_numbers)

[1, 2, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13]

In [22]:
# List Comprehension
'''
List comprehension is an elegant and concise way to create a new list from an existing list in Python.

Syntax :
newlist = [expression for item in iterable if condition == True]

'''


pow2 = [2 ** x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

# Python Tuple


> A tuple is a collection which is ordered and unchangeable.

In [25]:
# Creating a tuple

fruits = ('apple', 'banana', 'orange', 'cherry', 'melon')

# NOT a tuple
person = ('developer')
print(type(person))

# Creating tuple with single element
person = ('developer',)
print(type(person))

<class 'str'>
<class 'tuple'>

In [24]:
# Using tuple constructor to make a tuple

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [29]:
# Access tuple items

# Access elements using index
print(fruits[1])

# Negative indexing
print(fruits[-2])

# Range of indexes or slicing
print(fruits[1:4])

banana
cherry
('banana', 'orange', 'cherry')

In [32]:
# Unpack tuples

persons = ("teacher", "developer", "doctor")

school, company, hospital = persons

print(school)
print(company)
print(hospital)

teacher
developer
doctor

In [33]:
# Changing tuple

'''
Tuples are immutable
But there is a workaround. You can convert the tuple into a mutable type, change it, and convert the mutable back into a immutable tuple.
'''

fruits = ("apple", "banana", "cherry")
fruits_list = list(fruits)
fruits_list[1] = "kiwi"
fruits = tuple(fruits_list)

print(fruits)

('apple', 'kiwi', 'cherry')

In [35]:
# Deleting tuples

my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
'''
can't delete items
TypeError: 'tuple' object doesn't support item deletion
del my_tuple[3]'''

# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
# print(my_tuple)

In [36]:
# Tuple Methods
'''
count()
index()
'''

my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))  # Output: 2
print(my_tuple.index('l'))  # Output: 3

2
3

In [37]:
# Tuple membership test

# In operation
print('a' in my_tuple)
print('b' in my_tuple)

# Not in operation
print('g' not in my_tuple)

True
False
True

In [38]:
# Iterating through a tuple

# Using a for loop to iterate through a tuple
for name in ('Annanya', 'Vijay', 'Ria'):
    print("Hello", name)

Hello Annanya
Hello Vijay
Hello Ria

# **String**


> A string is a sequence of characters.

> Strings are immutable

In [39]:
# Creating string

my_string = "Hello"
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
the world of Python"""
print(my_string)

Hello
Hello, welcome to
the world of Python

In [40]:
#Accessing string characters in Python

str = 'programmer'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  programmer
str[0] =  p
str[-1] =  r
str[1:5] =  rogr
str[5:-2] =  amm

In [42]:
# Modify String

name = 'Joe Root'

# Upper Case
print(name.upper())

# Lower Case
print(name.lower())

# Remove whitespace
print(name.strip())

# Replace string
print(name.replace('J', 'H'))

# Split String
print(name.split(" "))

JOE ROOT
joe root
Joe Root
Hoe Root
['Joe', 'Root']

In [49]:
# Concatenation

str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

# length of string
print("Length of string is " , len(str1))

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello
Length of string is  5

In [50]:
# Format string using format() method

# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

# Set


> A set is a collection which is unordered, unchangeable*, and unindexed.

In [58]:
# Different types of sets in Python

# set of integers
set1 = {1, 2, 3}
print(set1)

# set of mixed datatypes
set2 = {1.0, "Hello", (1, 2, 3)}
print(set2)

# set cannot have duplicates
set3 = {1, 2, 3, 4, 3, 2}
print(set3)

# we can make set from a list
set4 = set([1, 2, 3, 2])
print(set4)

# set CANNOT have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

# my_set = {1, 2, [3, 4]}

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}
{1, 2, 3, 4}
{1, 2, 3}

In [59]:
# add element in a set

fruits = {"kiwi", "orange", "cherry"}
tropical_fruits = {"pineapple", "mango", "papaya"}

# Add an element in a set
fruits.add("grapes")
print(fruits)

# Add set using update()
fruits.update(tropical_fruits)
print(fruits)

{'cherry', 'kiwi', 'orange', 'grapes'}
{'cherry', 'kiwi', 'orange', 'pineapple', 'papaya', 'mango', 'grapes'}

In [63]:
# Remove set items

'''
remove() 
If the item to remove does not exist, remove() will raise an error.
'''
fruits.remove("orange")
print(fruits)

'''
discard()
If the item to remove does not exist, discard() will NOT raise an error.
'''
fruits.discard("cherry")
print(fruits)

#clear() : Empties the set
# fruits.clear()

# del keyword : deletes the set completely
# del fruits

{'kiwi', 'pineapple', 'papaya', 'mango', 'grapes'}
{'kiwi', 'pineapple', 'papaya', 'mango', 'grapes'}

In [64]:
# Python Set operations

A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# UNION

# using | operator
print(A | B)

# using union() method
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [66]:
# INTERSECTION

# Using & operator
print( A & B )

# Using intersection() method
A.intersection(B)

{4, 5}

{4, 5}

In [68]:
# SET DIFFERENCE

# using - operator
print(A-B)

#using difference() method
A.difference(B)

{1, 2, 3}

{1, 2, 3}

In [69]:
'''
SYMMETRIC DIFFERENCE
Symmetric Difference of A and B is a set of elements in A and B but not in both (excluding the intersection).
'''

# Using ^ operator
print(A ^ B)

# Using symmetric_difference() method
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

# Dictionary


> Dictionaries are used to store data values in key:value pairs.

> A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [71]:
# Creating a dictionary

cars = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(cars)

# printing values using key
print(cars['brand'])
print(cars['model'])
print(cars['year'])

# printing values using get() method
print(cars.get('model'))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
Mustang
1964
Mustang

In [72]:
# Getting all keys and values

# keys() method will return list of all keys
print(cars.keys())

# values() method will return list of all values
print(cars.values())

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

In [ ]:
# Change values in a dictionary

cars["year"] = 2008

# update() method
cars.update({"year": 2020})

In [73]:
# Removing elements from a dictionary

# create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# remove a particular item, returns its value
print(squares.pop(4))

print(squares)

# remove an arbitrary item, return (key,value)
print(squares.popitem())

print(squares)

# remove all items
squares.clear()

print(squares)

# delete the dictionary itself
del squares

# Throws Error
# print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{}

In [75]:
# Iterating through a Dictionary

squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for number in squares:
    print(squares[number])

1
9
25
49
81